// Extends
.no-ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
    list-style-type: none;
    margin: 2px;
  }
}

.tmp-shadow {
  box-shadow: 0 0 2px 0 rgba($med-gray, 1);
}

.tmp-shadow-none {
  box-shadow: none;
}

.blocked-style {
  border: 1px solid $white;
  padding: 12px;
  border-radius: 5px;
  background: $off-white;

  @extend .tmp-shadow;
}
