// Example Layout
//
// Example layout for Cog subthemes.
//
// Markup: example-layout.twig
//
// Style guide: Layout.example

// Universally sets box-sizing for site.
*,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

aside,
.region:not(.region--sidebar) {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.region--header {
  font-size: 2em;
  font-weight: 700;
}

.region--primary_menu,
.region--secondary_menu,
.region--breadcrumb,
aside nav {
  ul,
  ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.region--primary_menu li,
.region--secondary_menu li,
.region--breadcrumb li {
  display: inline-block;
  margin-right: 1.5em;
}

// Breakpoints
$breakpoint_lg: 960px;
$breakpoint_md: 600px;

/**
 * CSS GRID DEMO
 *
 * Comment out the CSS Grid Demo styles and uncomment the SUSY Demo
 * to use the Susy demo layout.
 */

.layout-container {
  max-width: 1260px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr) 1fr;
}

.layout-content {
  grid-column: 1/7;

  @include breakpoint($breakpoint_lg) {
    grid-column: 2/6;
    order: 1;
  }
}

aside.layout-sidebar-first {
  grid-column: 1/7;

  @include breakpoint($breakpoint_md) {
    grid-column: 1/4;
  }

  @include breakpoint($breakpoint_lg) {
    grid-column: 1/2;
    order: 0;
  }
}

aside.layout-sidebar-second {
  grid-column: 1/7;

  @include breakpoint($breakpoint_md) {
    grid-column: 4/7;
  }

  @include breakpoint($breakpoint_lg) {
    grid-column: 6/7;
    order: 3;
  }
}

/**
 * SUSY DEMO
 *
 * Comment out the CSS Grid Demo styles and uncomment this section
 * to use the Susy demo layout.
 */

// $susy: (
//   container: 1280px,
//   columns: 12,
//   gutters: 0,
// );

// .layout-container {
//   @include container;
// }

// .region--header,
// .region--primary_menu,
// .region--secondary_menu,
// .region--breadcrumb,
// .region--highlighted,
// .region--help,
// .region--footer {
//   @include span(12);
// }

// .layout-content {
//   @include span(12);

//   @include breakpoint($breakpoint_lg) {
//     @include span(8);
//     @include push(2);
//   }
// }

// aside {
//   @include span(12);
// }

// aside.layout-sidebar-first {
//   @include breakpoint($breakpoint_md) {
//     @include span(6 first);
//   }

//   @include breakpoint($breakpoint_lg) {
//     @include span(2 first);
//     @include pull(10);
//   }
// }

// aside.layout-sidebar-second {
//   @include breakpoint($breakpoint_md) {
//     @include span(6 last); // Sets .layout-sidebar-first to span 6 columns.
//   }

//   @include breakpoint($breakpoint_lg) {
//     @include span(2 last); // Sets .layout-sidebar-first to span 2 columns.
//   }
// }
